ion-header{
  ion-toolbar{
    --background: transparent;
    ion-row {
      ion-col {
        margin-top: 20px;
        display: flex;
        ion-title{
          font-size: 24px;
          --color: white;
        }
        img{
          border-radius: 50%;
          width: 40px;
          object-fit: cover;
          margin-right: 20px;
        }
      }
    }
  }
}

ion-content {
  .welcome-bar {
    margin-top: 20px;
    div{
      h4, h6{
        margin: 0;
      }
      h4 {
        margin: 15px 0 5px;
        color: #15be5a;
      }
      h6{
        color: darkgray;
        margin-bottom: 25px;
      }
    }
  }
  .playlist-slider{
    margin-bottom: 30px;
    ion-card {
      --background: transparent;
      img {
        border-radius: 16px;
        display:block;
        width: 40vw;
        height: 40vw;
        object-fit: cover;
        margin-bottom: 14px;
      }
      ion-label{
        color: white;
      }
    }
  }
  .music-card {
    margin-left: 32px;
    ion-label{
      font-size: 24px;
    }
    ion-item{
      margin: 22px 0;
      --detail-icon-opacity: 1;
      display: flex;
      align-items: center;
      img {
        width: 27vw;
        height: 27vw;
        border-radius: 16px;
        object-fit: cover;
      }
      div {
        margin-left: 32px;
        h3, h5{
          margin: 0;
        }
        h3{
          font-size: 18px;
          color: white;
        }
        h5{
          font-size: 14px;
          color: darkgray;
        }
      }
    }
  }
}
ion-footer{
  ion-toolbar{
    div{
      display: flex;
      justify-content: space-around;
      ion-icon{
        font-size: 32px;
      }
      ion-icon:hover {
        color: #15be5a;
      }
    }
  }
}