ion-header{
  ion-toolbar{
    --background: transparent;
    ion-row {
      ion-col {
        display: flex;
        ion-title{
          font-size: 24px;
          --color: white;
        }
        img{
          border-radius: 50%;
          width: 40px;
          object-fit: cover;
        }
      }
    }
  }
}

ion-content {
  .welcome-bar {
    div{
      h4, h6{
        margin: 0;
      }
      h4 {
        margin: 15px 0 5px;
        color: #15be5a;
      }
      h6{
        font-size: 12px;
        color: darkgray;
        margin-bottom: 25px;
      }
    }
  }
  .playlist-slider{
    ion-card {
      --background: transparent;
      img {
        border-radius: 16px;
        display:block;
        width: 40vw;
        height: 40vw;
        object-fit: cover;
        margin-bottom: 14px;
      }
      ion-label{
        color: white;
      }
    }
  }
  .music-slider {
    ion-card{
      display: flex;
      img {
        object-fit: cover;
        border-radius: 16px;
        width: 25vw;
        height: 25vw;
      }
      // div {
      //   h5, h3{
      //     margin: 0;
      //   }
      //   h5{
      //     color: darkgray;
      //   }
      //   h3 {
      //     color: white;
      //   }
      // }
    }
  }
}

